.micro {
    color: #aaa;
    background: #000;
    position: relative;
    font-family: FreeMono, monospace;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    border: 1px solid #000;
}
.micro .title, .micro .footer .keys, .micro .message span, .micro .cursor {
    background-color: #fff;
    color: #000;
}
.micro .line span {
    display: block;
    float: left;
}
.micro .cursor.inactive {
    background-color: #000;
    border: 1px solid green;
}
.micro .message {
    position: relative;
    left: 0;
    bottom: 42px;
}
.micro .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.micro .message span {
    text-aling: center;
}
